<!--<div id="img" class="jumbotron text-center">-->
    <div class="container">
        <div class="img">
            <div class="img-box">
                <h1>Bank System</h1>
                <p class="lead">Welcome to our Bank System</p>
                <div>
                    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
                    <a class="btn btn-default" [routerLink]="['/login']">Login</a>
                </div>
            </div>
        </div>
    
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <h3>Safety</h3>
            <p>Completely encrypted so only you have access</p>
        </div>
        <div class="col-md-4">
            <h3>Facility</h3>
            <p>An intuitive app. Easy to use anywhere</p>
        </div>
        <div class="col-md-4">
            <h3>No taxes</h3>
            <p>Transfer without paying a penny for it</p>
        </div>
    </div>